@media (max-width: 680px) {
    .content{
        display: flex;
        flex-direction: column;

        margin: 0;
        padding: 0;
    }

    .content header{
        display: flex;
        justify-content: flex-start;

        padding: 4rem 0 0 4rem;
    }

    .content header img{
        width: 50%;
    }

    .content .main-body{
        display: flex;
        flex-direction: column;
        padding: 4rem;
    }

    .main-body img{
        padding: 0;
    }

    .main-body .text{
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;
    }

    .text h1{
        font-size: 3rem;
    }

    footer{
        justify-content: center;
        padding: 5rem 0;
    }

    footer .icons{
        margin-right: 0;
    }
}